	body{
		background-color:silver;/*设置页面的背景颜色为银色*/
	}
	/*游戏主页面的整体样式*/
	#container {
		text-align: center;
		width: 600px;
		margin:auto;
		padding:10px;
		background-color:white;
		box-shadow:10px 10px 15px gray;
		
	}
	
	/*状态样式栏*/
	#status{
		padding: 10px;
		width: 400px;
		height:20px;
		margin: auto;
	}
	
	/*状态栏中栏目的盒子样式*/
	.box{
		float:left;
		width:200px;
	}
	
	/*设置游戏按键样式*/
	button ,#back{
		width: 200px;
		height:50px;
		margin: 10px 0;
		border: 0;
		outline:none;
		font-size:25px;
		font-weight:bold;
		color: white;
		background-color: lightcoral;
		display: inline-block;
	}
	/*设置鼠标悬浮时的按键样式 */
	button:hover,#back:hover{
		background-color: coral;
	}
	#btn{
		position: absolute;
		top: 50px;
		left: 20px;
		text-align: center;
		padding-top: 10px;
		width: 200px;
		height:50px;
		margin: 10px 0;
		border: 0;
		outline:none;
		font-size:25px;
		font-weight:bold;
		color: white;
		background-color: rgb(88, 88, 88);
	}
	#btn:hover{
		background-color: rgba(255, 214, 80, 0.342);
	}